---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

interface Props {
  title: string;
  currentSlug?: string;
}

const { title, currentSlug } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" href="/favicon.png" type="image/png" />
    <script src="/scripts/menu.js" defer></script>
  </head>
  <body>
    <div class="wrap">
      <Header currentSlug={currentSlug} />
      <slot />
      <Footer />
    </div>
  </body>
</html>
